@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;700&display=swap');

* {
    font-family: 'Gaegu', cursive;
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

p , a{
    color: #000;
    font-size: 1.4em;
}

.navHeader {
    background-color: #73726F;
    box-shadow: 0.0.5em 1em rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

    .navHeader .ulNav {
        display: flex;
        margin-bottom: 0;
        padding-right: 9.5%;
    }

        .navHeader .ulNav > li {
            margin: 1em;
            list-style: none;
        }

.enlacesNavBar {
    text-decoration: none;
    color: #d3d3d3;
    position: relative;
    letter-spacing: 0.5px;
    padding: 0 10px;
    font-size: 1.7em;
}

.enlacesNavBar::after {
    content: "";
    position: absolute;
    background-color: #e4ae7e;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.enlacesNavBar:hover {
    color: #ffffff;
}

.enlacesNavBar:hover::after {
    width: 100%;
}

.atriaLogo {
    width: 225px;
}

.loading {
    margin: 2% 48.2%;
}

.ulFooter {
    display: flex;
    margin-bottom: 0;
}

    .ulFooter > li {
        margin: 1em;
        list-style: none;
    }
